* {
    --oxford-blue: hsla(217, 96%, 11%, 1);
    --red-salsa: hsla(356, 86%, 58%, 1);
    --sonic-silver: hsla(202, 4%, 44%, 1);
    --vivid-sky-blue: hsla(194, 85%, 62%, 1);
    --alice-blue: hsla(206, 47%, 94%, 1);
}

/* Header */

body {
    margin: 0;
}

header {
    background-color: var(--sonic-silver);
    color: var(--oxford-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: calc(100vw - 40px);
}

header h1 {
    cursor: default;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav li {
    padding: 0 20px;
    font-size: 18px;
    line-height: 100px;
    transition-duration: .3s;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav li:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--alice-blue);
    color: var(--vivid-sky-blue);
}

/* About Me */

#about-me {
    display: flex;
    flex-direction: row;
    padding: 150px 0;
    background-color: var(--alice-blue)
}

#about-me img {
    margin: 0 20px;
    height: 200px;
    width: auto;
    border-radius: 50%;
}

#about-me .text {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}

/* Projects */

#projects {
    background-color: var(--red-salsa);
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#projects a {
    text-decoration: none;
    color: inherit;
}

#projects a:hover .project {
    transform: scale(1.1);
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;
    width: 400px;
    text-align: center;
}

.project img {
    max-width: 400px;
    height: auto;
}

/* Contact */

#contact {
    background-color: var(--alice-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, textarea {
    margin: 5px 0;
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer a {
    margin: 0 5px;
}

footer img {
    height: 2em;
    width: auto;
}